<h1>RUN CLUB</h1>

<p><%= @user.name %>様</p>

<p>
ようこそ、RUN CLUBへ! 下のリンクからアクセスして、アカウントを有効化しましょう。
</p>

<%= link_to "このリンクからRUN CLUBへ！", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
                                                  
                                                    
                                                  