<h1>RUNCLUB:パスワード再設定</h1>

<p>下のリンクからアクセスし、パスワードの再設定をして下さい。</p>

<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの有効期限は2時間です。</p>

<p>
本メールに心当たりない場合は、メール内容を無視するか、削除をお願いします。
</p>
