<% provide(:title, 'All users') %>
<h1>全てのユーザー</h1>

<%= will_paginate @customers, { :previous_label => '&lt 前へ', :next_label => '次へ &gt' } %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @customers, { :previous_label => '&lt 前へ', :next_label => '次へ &gt' } %>